/* PRENAV START */

.prenav {
    background: var(--black);
    padding: 15px 0;
}

.prenav__content {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
}

.prenav__menu {
    display: flex;
    justify-content: end;
    column-gap: 40px;
}

.prenav__btns {
    display: none;
    column-gap: 10px;
    align-items: center;
}

.prenav__link, .prenav__li {
    color: var(--white);
}

.link, .prenav__li:nth-of-type(1), .burger__menu .menu__link{
    line-height: 20px;
    font-size: 14px;
    font-family: var(--nos-regular);
}

.prenav-menuicon {
    margin-left: 3px;
}

.prenav-usericon::before {
    content: '\f007';
}

.prenav-phoneicon::before {
    content: '\f879';
}

.prenav-carticon::before {
    content: '\f07a';
}

.prenav-menuicon::before {
    content: '\f04b';
}

.prenav__nav {
    display: none;
}

/* PRENAV END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* BUREGER MENU START */

.burger__menu {
    position: fixed;
    right: -100%;
    max-width: 200px;
    height: 70%;
    width: 100%;    
    background: var(--white);
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    transition: 0.7s;
    z-index: 999;
}

.burger__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.burger__content .link, .burger__content .toggle  {
    color: var(--black);
}

.burger__btn-open {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.burger__btn-close {
    display: inline-block;
}

.buger__line {
    display: block;
    content: '';
    height: 2px;
    width: 25px;
    background: #fff;
    border-radius: 20%;
}

.xmark {
    font-size: 28px;
    color: var(--black);
}

.xmark::before {
    content: '\f00d';
}

/* BUREGER MENU END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* SEARCHpANEL START */

.searchPanel {
    display: flex;
    flex-grow: 1;
}

.prenav .nav__search {
    width: 100%;
    padding: 10px 10px;
}

.searchPanel {
    align-items: center;
    column-gap: 7px;
    display: none;
}
.searchPanel__btn-close::before {
    content: '\f060';
}

.searchPanel__btn-close {
    color: var(--white);
    font-size: 20px;
}


/* SEARCHpANEL END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* NAV START */

.icon {
    font-size: 16px;
    margin-right: 8px;
}

.nav__content {
    display: flex;
    align-items: center;    
    padding: 18px 0;
    column-gap:  calc(50px + (143 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.logo::before {
    content: url('../../images/LogoL.svg');
}

.prenav .logo::before {
    content: url('../../images/logoNavSm.svg') !important;
}

.nav__formSearch {
    display: flex;
}

.nav__search {
    width: calc(250px + (440 - 250) * ((100vw - 768px) / (1920 - 768)));
    padding: 16px 10px;
    border: 1px solid var(--black);
    border-radius: 0;
    color: var(--black);
    outline: none;
}

.nav__search:focus {
    background: #3b3b3b34;
}

.nav__submit {
    background: var(--black);
    color: var(--white);
    border-radius: 0;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    display: flex;
    align-items: center;
}

.nav__searchicon::before {
    content: '\f002';
}

.nav__searchicon {
    margin-right: 5px;
    font-size: 20px;
    color: var(--white);
}


/* NAV END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* MENU START */

.menu {
    margin: 10px 0;
}

.menu__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__list li {
    position: relative;
}

.main__content {
    display: flex;
    justify-content: center;
}

.menu__link {
    color: var(--black);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    font-family: var(--nos-regular);
    display: flex;
    align-items: center;
}

.arrow {
    display: none;
    width: 0;
    height: 0;
    border-top: 10px solid var(--black);    
    border-right: 10px solid transparent;    
    border-left: 10px solid transparent;    
    transition: 0.4s;
    margin-left: 10px;
}

.menu__link.open .arrow {
    transform: rotate(180deg);
}

.burger__menu .menu__link.open .prenav-menuicon {
    transform: rotate(90deg);
}

.dropDown__content {
    display: none;
    position: absolute;
    top: 25px;
    padding: 10px 0px 0px 0px;
    width: 100%;
    min-width: 150px;
    z-index: 999;
}

.dropDown {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
    background: var(--white);
}

.dropDown__content li {
    margin-top: 10px;
}

.dropDown__title {
    color: var(--black);
    font-size: 14px;
    line-height: 18px;
    font-family: var(--nos-regular);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDown__title::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: var(--black);
    transition: 0,4s;
}

.dropItems {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    font-family: var(--nos-light);
    text-transform: capitalize;
    transition: 0.3s;
    padding: 3px;
}

body.mouse .menu__list>li:hover .dropDown__content{
    display: block;
}

body.touch .menu__link.open+.dropDown__content {
    display: block;
}

body.touch .arrow{
    display: block;
}

body.mouse .dropItems:hover{
    background: var(--black);
    color: var(--white);
}

body.mouse .dropDown__title:hover::after{
    width: 100%;
}

/* MENU END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.dropdown__title {
    color: var(--preimary-color);
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: var(--nos-regular);
}

.header__content-title {
    color: var(--preimary-color);
    line-height: 70px;
    font-size: 48px;
    letter-spacing: 0.05em;
    font-family: var(--nob);
    max-width: 624px;
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.header__content-btn {
    display: flex;
    color: var(--secondary-color);
    background: var(--preimary-color);
    line-height: 25px;
    font-size: 18px;
    padding: 12px 0;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s;
}

.header__content-img1::before {
    content: url('../images/header__content-img1-light.png');
    display: block;
    width: 100%;
}

.header__content-img2::before {
    content: url('../images/header__content-img2-light.png');
    display: block;
    width: 100%;
}

.header__content-right {
    flex-direction: column;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* SLIDER START */

.slider {
    padding: 70px 0;
    overflow: hidden;
}

.slider__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: calc(100px + (250 - 100) * ((100vw - 500px) / (1920 - 500)));
}


.slider__track { 
    display: flex;
    transition: 1s;
    transform: translateX();
}

.slider__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 121px;
}

.slider__title {
    color: var(--black);
    line-height: 70px;
    font-size: 48px;
    letter-spacing: 0.05em;
    font-family: var(--nos-medium);
    max-width: 550px;
    text-align: center;
}

.slider__btn {
    color: var(--white);
    background: var(--black);
    line-height: 25px;
    font-size: 18px;
    width: 190px; 
    text-align: center;
    font-family: var(--nos-regular);
    padding: 12px 0;
    transition: .4s;
}

.slider__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    padding-top: 18px;
}

.indicator {
    background: var(--indicator);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: .4s ;
}


.indicator.active {
    background: var(--indicatorActive);
    width: 20px;
    height: 20px;
}

/* SLIDER END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */