@media(prefers-color-scheme: dark) {
    :root {
        --black: #313131;
        --white: #fff;
        --blackDark: #0C0C0C;
    }
    
    body, .burger__menu, .nav__search {
        background: var(--black);
    }
    
    .prenav {
        background: var(--blackDark);
    }

    .nav__search, .slider__btn:hover, .nav__submit:hover, .nav__submit:hover .nav__searchicon {
        color: var(--blackDark);
    }

    .nav__search::placeholder, .burger__content .link, .xmark, .menu__link, .slider__title {
        color: var(--white);
    }


    .logo::before {
        content: url('../../images/LogoD.svg');
    }    

    .nav__submit, .nav__search, .slider__btn {
        border: 1px solid var(--white);
    }
    
    .nav__search:focus, .nav__search:focus, .indicator.active, .slider__btn:hover, .nav__submit:hover {
        background: var(--white);
    }

    .arrow {
        border-top: 10px solid var(--white)
    }

    

}
    

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ADAPTIVE START */

@media(max-width: 768px) {
    .prenav__btns {
        display: flex;
    }

    .prenav__menu, .nav, .menu {
        display: none;
    }
    .prenav__nav, .prenav__search {
        display: block;
    }


    .prenav__content {
        justify-content: space-between;
    }

    .menu__list {
        display: block;
    }
    .menu__list>li {
        margin: 0 0 10px 0;
    }

    .dropDown__content {
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
    }


}

@media(min-width: 1024px) {
    .container {
        padding: 0 30px !important;
    }
}

@media(max-width: 1024px) {
    .nav__content {
        column-gap: 0;
        justify-content: space-between;
    }
    .logo {
        transform: scale(0.8);
    }
}

@media(max-width: 600px) {
    .prenav {
        padding: 10px 0;
    }
}

@media(max-width: 500px) {
    .slider__item {
        flex-direction: column;
    }

    .slider__title {
        line-height: 50px;
        font-size: 36px;
    }
}

/* ADAPTIVE END */