@media(prefers-color-scheme: dark) {
    :root {
        --black: #313131;
        --white: #fff;
        --blackDark: #0C0C0C;
    }
    
    body {
        background: var(--black);
    }
    
    .prenav {
        background: var(--blackDark);
    }

    .xmark {
        color: var(--white);
    }

    .burger__menu {
        background: var(--black);
    }

    .burger__content .link, .burger__content .toggle  {
        color: var(--white);
    }
    
    .logo::before {
        content: url('../../images/logoD.png');
    }    
}
    

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ADAPTIVE START */

@media(min-width: 1000px) {
    .container {
        padding: 0 30px !important;
    }
}

@media(max-width: 768px) {
    .burger__btn-open {
        display: flex;
    }

    .prenav__menu, .nav {
        display: none;
    }
    .prenav__nav, .prenav__search {
        display: block;
    }


    .prenav__content {
        justify-content: space-between;
    }
}
@media(max-width: 1024px) {
    .nav__content {
        column-gap: 0;
        justify-content: space-between;
    }
}

@media(max-width: 500px) {
    .logo::before {
        content: url('../../images/logoNavSm.svg') !important;
    }
}

/* ADAPTIVE END */