/* PRENAV START */

.prenav {
    background: var(--black);
    padding: 15px 0;
}

.prenav__content {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
}

.prenav__menu {
    display: flex;
    justify-content: end;
    column-gap: 40px;
}

.prenav__btns {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.prenav__link, .prenav__li {
    color: var(--white);
}

.link, .prenav__li:nth-of-type(1){
    line-height: 20px;
    font-size: 14px;
    font-family: var(--nos-regular);
}

.prenav-usericon::before {
    content: '\f007';
}

.prenav-phoneicon::before {
    content: '\f879';
}

.prenav-carticon::before {
    content: '\f07a';
}

.prenav__nav {
    display: none;
}

.prenav__search {
    display: none;
}

/* PRENAV END */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* BUREGER MENU START */

.burger__menu {
    position: fixed;
    right: -100%;
    max-width: 200px;
    height: 100%;
    width: 100%;
    background: var(--white);
    padding: 20px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    transition: 0.7s;
}

.burger__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.burger__content .link, .burger__content .toggle  {
    color: var(--black);
}

.burger__btn-open {
    display: none;
    flex-direction: column;
    row-gap: 6px;
}

.burger__btn-close {
    display: inline-block;
}

.buger__line {
    display: block;
    content: '';
    height: 2px;
    width: 22px;
    background: #fff;
    border-radius: 20%;
}

.xmark {
    font-size: 35px;
    color: var(--black);
}

.xmark::before {
    content: '\f00d';
}

/* BUREGER MENU END */

/* .toggle {
    position: relative;
}
.toggle__content {
    position: absolute;
    left: 0;
    background: #FFFFFF;
    
}
.toggle__option {
    display: inline-block;
    color: #ABABAB;
    padding: 5px 15px;
}

.toggle__option:nth-of-type(1)::after {
    display: block;
    content: '';
    height: 1px;
    width: 70px;
    background: var(--black);
} */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* NAV START */

.icon {
    font-size: 16px;
    margin-right: 8px;
}

.nav__content {
    display: flex;
    align-items: center;    
    padding: 18px 0;
    column-gap:  calc(50px + (143 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.logo::before {
    content: url('../../images/logoL.png');
}

.prenav .logo::before {
    content: url('../../images/logoNav.svg');
}

.nav__formSearch {
    display: flex;
}

.nav__search {
    width: calc(200px + (440 - 50) * ((100vw - 320px) / (1920 - 320)));
    padding: 16px 10px;
    border: 1px solid #313131;
    border-radius: 0;
    color: #BBBBBB;
    outline: none;
    transition: 0.5s;
}

.nav__search:focus {
    background: #3b3b3b34;
}

.nav__submit {
    background: var(--black);
    color: var(--white);
    border-radius: 0;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    display: flex;
    align-items: center;
}

.nav__searchicon::before {
    content: '\f002';
}

.nav__searchicon {
    margin-right: 5px;
    font-size: 20px;
    color: var(--white);
}


/* NAV END */


.menu__content {
    padding: 10px 0;
}

.menu__link {
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--preimary-color);
    margin-right: 40px;
}

.menu__li:nth-of-type(6) .menu__link {
    margin-right: 0;
}

.menu__ul {
    padding: 0;
}

.dm2 {
    padding: 17px 32px;
    border-radius: 0;
}


.dropdown__title {
    color: var(--preimary-color);
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: var(--nos-regular);
}

.header__content-title {
    color: var(--preimary-color);
    line-height: 70px;
    font-size: 48px;
    letter-spacing: 0.05em;
    font-family: var(--nob);
    max-width: 624px;
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.header__content-btn {
    display: flex;
    color: var(--secondary-color);
    background: var(--preimary-color);
    line-height: 25px;
    font-size: 18px;
    padding: 12px 0;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s;
}

.header__content-img1::before {
    content: url('../images/header__content-img1-light.png');
    display: block;
    width: 100%;
}

.header__content-img2::before {
    content: url('../images/header__content-img2-light.png');
    display: block;
    width: 100%;
}

.header__content-right {
    flex-direction: column;
}