@media(prefers-color-scheme: dark) {
    :root {
        --black: #313131;
        --white: #fff;
        --blackDark: #0C0C0C;
    }
    
    body, .burger__menu, .nav__search {
        background: var(--black);
    }
    
    .prenav {
        background: var(--blackDark);
    }

    .nav__search {
        color: var(--blackDark);
    }

    .nav__search::placeholder, .burger__content .link, .xmark  {
        color: var(--white);
    }


    .logo::before {
        content: url('../../images/logoD.png');
    }    

    .nav__submit, .nav__search {
        border: 1px solid var(--white);
    }
    
    .nav__search:focus {
        background: var(--white);
    }

}
    

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ADAPTIVE START */

@media(min-width: 1000px) {
    .container {
        padding: 0 30px !important;
    }
}

@media(max-width: 900px) {
    .logo::before {
        content: url('../../images/logoNavMd.svg') !important;
    }
}

@media(max-width: 768px) {
    .burger__btn-open {
        display: flex;
    }

    .prenav__menu, .nav {
        display: none;
    }
    .prenav__nav, .prenav__search {
        display: block;
    }


    .prenav__content {
        justify-content: space-between;
    }

}


@media(max-width: 1024px) {
    .nav__content {
        column-gap: 0;
        justify-content: space-between;
    }
}

@media(max-width: 500px) {
    /* .logo::before {
        content: url('../../images/logoNavSm.svg') !important;
    } */

    .prenav {
        padding: 10px 0;
    }
}

/* ADAPTIVE END */